<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirección de URLs sin extensión .php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [L]

    # Redirección de URLs sin extensión .html
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.*)$ $1.html [L]

    # Deshabilitar el listado de directorios
    Options -Indexes

    # Página de error 404 personalizada
    ErrorDocument 404 /404.php
    ErrorDocument 500 /500.php
</IfModule>
